{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="SignUp, Login, Register">
  <meta name="keywords" content="Sign up, Sign in">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="{% static 'js/login.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Table/login.css' %}">
    
</head>

<body>
  <div class="login-container">
    <h1>로그인</h1>
    <form action="{% url 'login_view' %}" method="POST">{% csrf_token %}
        <div class="input-group">
            <input type="email" name="signupEmail" placeholder="이메일" required>
        </div>
        <div class="input-group">
            <input type="password" name="signupPW" placeholder="비밀번호" required>
        </div>
        <button type="submit" class="login-btn">로그인</button>
        <div class="signup-link">
            계정이 없으신가요? 
        </div>
    </form>

    <form action="{% url 'main_join' %}" method="POST" id="signup-form">{% csrf_token %} 
      <button class="login-button">회원가입</button>
    </form>


</div>
</body>

</html>